//
//  Common.xcconfig
//  vpon-sdk
//
//  Created by Vpon on 9/23/16.
//  Copyright © 2016 com.vpon. All rights reserved.
//

#include "Warnings.xcconfig"

// Disable legacy-compatible header searching
ALWAYS_SEARCH_USER_PATHS = NO

// Build options
ENABLE_BITCODE = YES

// Whether to strip out code that isn't called from anywhere
DEAD_CODE_STRIPPING = NO

// The format of debugging symbols
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// C Language
GCC_C_LANGUAGE_STANDARD = gnu99

// C++ Language
CLANG_CXX_LANGUAGE_STANDARD = c++11
CLANG_CXX_LIBRARY = libc++

// Code Generation
GCC_DYNAMIC_NO_PIC = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_SYMBOLS_PRIVATE_EXTERN = NO
