//
//  VponADN.xcconfig
//  vpon-sdk
//
//  Created by Vpon on 9/22/16.
//  Copyright © 2016 com.vpon. All rights reserved.
//

#include "Common.xcconfig"

// Architectures configuration
SDKROOT = iphoneos
ONLY_ACTIVE_ARCH = NO
SUPPORTED_PLATFORMS = iphonesimulator iphoneos

// Build Setting
IPHONEOS_DEPLOYMENT_TARGET = 5.1.1

// Cocoa Touch Library
SKIP_INSTALL = YES
CODE_SIGNING_REQUIRED = NO
PUBLIC_HEADERS_FOLDER_PATH = /include
BUILD_DIR = $(SRCROOT)/build

// Language
CLANG_WARN_DOCUMENTATION_COMMENTS = YES

